@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "noorehidayat";
  src: url("/src/assets/font/noorehidayat.ttf");
}

:root {
  font-family: "Poppins", sans-serif;
}

.arabic {
  font-family: "noorehidayat";
}
